@page
@model AccountModel
@{
    ViewData["Title"] = "Account Dashboard";
}

<h1>@ViewData["Title"]</h1>

@if (TempData.ContainsKey("user"))
{
    <p>Welcome, @TempData["user"]!</p>

    <form asp-page-handler="logout"  method="post">
        <button class="btn btn-secondary">Logout</button>
    </form>
}
else
{
    Response.Redirect("Index");
}
