@page
@model PrivacyModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>

@if (TempData.ContainsKey("userid"))
{
    <form asp-page-handler="logout"  method="post">
        <button class="btn btn-secondary">Logout</button>
    </form>
}
else
{
    Response.Redirect("Index");
}
